@import url('basic.css');

h1 {
  font-family: helvetica sans-serif;;
  border-bottom: 1px dashed #bbb;
}

#github-banner {
  display: none;
}

#header {
  width: 200px;
  padding: 10px;
}

#content {
  min-height: cal(100vh - 200px);
}

#sidebar {
  padding: 15px 10px;
  border-top: 1px dashed #bbb;
}

#version-div .btn {
  font-size: 12px;
}

div.footer {
    padding: 25px 0 100px 0;
    font-size: 11px;
}

code.docutils.literal {
    background-color: #f5f5f5;
    color: #333;
}

div.admonition a {
    font-weight: 700;
    text-decoration: underline;
}

div.admonition.tip, div.admonition.note {
    color: #3A87AD;
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
}

div.admonition.danger {
    color: #A94442;
    background-color: #F2DEDE;
    border: 1px solid #EBCCCC;
}

div.admonition.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faf2cc;
}

/* `question` directive extension */
div.admonition.question {
    color: #3C763D;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

/* `checkpoint` directive extension */
div.admonition.checkpoint {
    color: #E90056;
    background-color: #FFEAF2;
    border: 1px solid #E90056;
}

/* `qiime1` directive extension */
div.admonition.qiime1 {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border: 1px solid #FAEBCC;
}

/* `tabbed` content */
.tabbed .white-bg {
    background-color: #FFFFFF !important;
}

.tabbed .gray-bg {
    background-color: #F5F5F5 !important;
}

.tabbed .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

form.search input[name=q]{
    width: 100%;
}

@media screen and (min-width: 992px) {

  #github-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #wrapper {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
  }

  #header {
    padding: 20px 0 10px 124px;
    width: 100%;
  }

  #body {
    border-left: 1px dashed #bbb;
  }

  #sidebar {
    border-top: none;
  }

  #sidebar h3 {
    font-size: 14px;
  }

  #sidebar > ul {
    padding-left: 15px;
    font-size: 12px;
  }

  #sidebar > ul li ul {
    padding-left: 10px;
  }

  div.footer {
    float: right;
    font-size: 14px;
    padding: 25px 0;
  }

}

/* Fix up sphinxcontrib-bibtex html */
table.citation {
  border-left: none;
}

table.citation td {
  padding: 0px 0px 5px 0px;
}

table.citation td.label {
  display: none;
}

.highlight-shell {
  position: relative;
}

.clipboard-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
