@import url('basic.css');

h1 {
  font-family: helvetica sans-serif;;
  border-bottom: 1px dashed #bbb;
}

#github-banner {
  display: none;
}

#header {
  height: 125px;
  width: 200px;
  padding: 10px;
}

#content {
  min-height: cal(100vh - 200px);
}

#sidebar {
  padding: 15px 0;
  border-top: 1px dashed #bbb;
}

div.footer {
    padding: 25px 0;
    font-size: 11px;
}

code.docutils.literal {
    background-color: #f5f5f5;
    color: #333;
}

div.admonition.tip, div.admonition.note {
    color: #3A87AD;
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
}

div.admonition.danger {
    color: #A94442;
    background-color: #F2DEDE;
    border: 1px solid #EBCCCC;
}

div.admonition.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faf2cc;
}

/* `question` directive extension */
div.admonition.question {
    color: #3C763D;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

/* `qiime1` directive extension */
div.admonition.qiime1 {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border: 1px solid #FAEBCC;
}

/* `plugin_directory` extension */
.action-signature th[colspan] {
    text-align: center;
}

form.search input[name=q]{
    width: 100%;
}

@media screen and (min-width: 992px) {

  #github-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #wrapper {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }

  #header {
    padding: 20px 0 0 100px;
    height: 200px;
    width: 100%;
  }

  #body {
    border-left: 1px dashed #bbb;
  }

  #sidebar {
    border-top: none;
  }

  #sidebar h3 {
    font-size: 14px;
  }

  #sidebar ul {
    padding: inherit;
    font-size: 12px;
  }

  #sidebar ul li ul {
    padding-left: 10px;
  }

  #sidebar ul li ul li {
    padding: 5px 0;
  }

  div.footer {
    float: right;
    font-size: 14px;
  }

}
