name: ci

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout source
      uses: actions/checkout@v2

    - name: set up python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: install dependencies
      run: python -m pip install --upgrade pip

    - name: lint
      run: |
        pip install -q flake8
        flake8

  verify:
    runs-on: ubuntu-latest
    steps:
    - name: checkout source
      uses: actions/checkout@v2

    - name: install QIIME 2 amplicon distro
      run: |
        envFile=qiime2-amplicon-ubuntu-latest-conda.yml
        wget https://raw.githubusercontent.com/qiime2/distributions/dev/2025.4/amplicon/released/$envFile
        conda env create -q -p ./test-env --file $envFile

    - name: install conda dependencies
      shell: bash -l {0}
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda install -p ./test-env -q pip

    - name: install pip dependencies
      shell: bash -l {0}
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda activate ./test-env
        pip install -r requirements.txt

    - name: build docs
      shell: bash -l {0}
      env:
        SPHINXOPTS: -q
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda activate ./test-env
        make clean && make dummy && make preview
